<div class="tokenChatLink-tooltip">
    <div><h3>{{localize "tokenchatlink.instructionsTitle"}}</h3></div>
    <uo>
        {{#each tips}}
            <li>{{this}}</li>
        {{/each}}
    </uo>
</div>