.tokenChatLink {
    text-decoration: underline;
    cursor: pointer;
} 

.tokenChatLink-tooltip {
    display: block;
    padding: 2px 4px;
    position: absolute; 
    background: #222;
    border: 1px solid #191813;
    border-radius: 3px;
    color: #ddd;
    text-align: left;
    white-space: nowrap;
    word-break: break-all;
}

.tokenChatLink-tooltip ul {
    list-style-type: circle;
  }